{
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "extends": ["prettier"],
  "env": {
    "browser": true,
    "mocha": true,
    "jest": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "semi": [1, "never"]
  }
}
